<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>609067CE217EBA7C0093D68D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>609067DC217EBA880093D68D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>609F01FC212BFBFC00D89803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
